<!DOCTYPE html>
<html>
<head>

<title>Story</title>

<style>

body{
margin:0;
background:#0f172a;
color:white;
font-family:Arial;
}

header{
padding:15px;
background:#020617;
border-bottom:1px solid #1e293b;
}

nav a{
margin-right:20px;
color:#60a5fa;
text-decoration:none;
}

.container{
padding:30px;
max-width:1200px;
margin:auto;
}

</style>

</head>

<body>

<header>
<nav>
<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>
<a href="/story">Story</a>
</nav>
</header>

<div class="container">

<h2>Data Story</h2>

<div class='tableauPlaceholder' id='viz1773246906929' style='position: relative'>

<noscript>
<a href='#'>
<img alt='India Electricity Consumption Analysis'
src='https://public.tableau.com/static/images/DA/DA_Tableau_Project_17732446544180/Story1/1_rss.png'
style='border:none'/>
</a>
</noscript>

<object class='tableauViz' style='display:none;'>

<param name='host_url' value='https://public.tableau.com/' />
<param name='embed_code_version' value='3' />
<param name='name' value='DA_Tableau_Project_17732446544180/Story1' />
<param name='tabs' value='no' />
<param name='toolbar' value='yes' />

</object>

</div>

</div>

<script>

var divElement = document.getElementById('viz1773246906929');
var vizElement = divElement.getElementsByTagName('object')[0];

vizElement.style.width='100%';
vizElement.style.height='800px';

var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';

vizElement.parentNode.insertBefore(scriptElement, vizElement);

</script>

</body>
</html>